<div class="container">
  <div class="left">
    <form action="post" #form="ngForm" (ngSubmit)="onRegisterSubmit(form)">
      <div class="heading-left">
        <h1>Create your account</h1>
        <p>Unlock all Features!</p>
      </div>

      <select
        #selectUserType
        name="selectUserType"
        id="selectUserType"
        ngModel=""
        required
      >
        <option value="" selected disabled>Choose your type</option>
        <option value="Businessman">Businessman</option>
        <option value="Client">Client</option>
      </select>

      <div class="inputC">
        <i class="fa-regular fa-user"></i>
        <input
          type="text"
          required
          #firstNameInput="ngModel"
          ngModel
          name="firstName"
          placeholder="First Name"
          minlength="3"
          required
        />
        />
      </div>
      <div class="inputC">
        <i class="fa-regular fa-user"></i>
        <input
          type="text"
          required
          #lastNameInput="ngModel"
          ngModel
          name="lastName"
          placeholder="Last Name"
          minlength="3"
        />
      </div>
      <div class="inputC">
        <i class="fa-regular fa-envelope"></i>
        <input
          type="email"
          required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
          #emailInput="ngModel"
          ngModel
          name="email"
          placeholder="Email"
        />
      </div>
      <div class="inputC" *ngIf="selectUserType.value === 'Businessman'">
        <i class="fa-regular fa-building"></i>
        <input
          type="text"
          required
          #companyInput="ngModel"
          ngModel
          name="company"
          placeholder="Company"
        />
        />
      </div>
      <div class="inputC">
        <i class="fa-solid fa-key"></i>
        <input
          type="password"
          required
          #passwordInput="ngModel"
          ngModel
          name="password"
          placeholder="Password"
          minlength="6"
        />
        />
      </div>
      <div class="inputC">
        <i class="fa-solid fa-key"></i>
        <input
          type="password"
          required
          #confirmPasswordInput="ngModel"
          ngModel
          name="repeatedPassword"
          placeholder="Confirm Password"
          minlength="6"
        />
        />
      </div>
      <div class="rememberMeC">
        <input
          type="checkbox"
          #rememberMeInput="ngModel"
          ngModel
          name="rememberMe"
        />
        <div>Accept <span class="accept">terms and conditions</span></div>
      </div>

      <button class="submit-btn" type="submit">REGISTER</button>
      <p>
        You have an account?
        <a routerLink="/login" class="login-link">Sign in</a>
      </p>
    </form>
  </div>
  <div class="right">
    <img src="../../../../assets/register.png" alt="register" />
    <div class="heading-right">Connect with any device.</div>
    <p>Everything you need is an internet connection.</p>
  </div>
</div>
