<div class="container">
  <div class="left">
    <form action="post">
      <div class="heading-left">
        <h1>Create your account</h1>
        <p>Unlock all Features!</p>
      </div>

      <button class="submit-btn">LOG IN</button>
      <p>
        You have account?
        <a routerLink="/login" class="login-link">Login now</a>
      </p>
    </form>
  </div>
  <div class="right">
    <img src="../../../../assets/login.png" alt="login" />
    <div class="heading-right">Connect with any device.</div>
    <p>Everything you need is an internet connection.</p>
  </div>
</div>
