.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.left {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15em;
}

.right {
  background-color: #343859;
  height: 90vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.1em;
}

.right img {
  width: 35em;
  margin-bottom: 2em;
}

.heading-left {
  font-weight: bold;
  font-size: 1.2em;
}

.heading-right {
  color: #e0eaff;
  font-weight: 700;
  font-size: 1.4em;
}

p {
  color: #e0eaff;
  opacity: 75%;
  margin: 0 auto;
}

.left p {
  color: #71717a;
}

.inputsC {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputC {
  padding: 10px;
  margin: 0 10px;
  display: flex;
  background-color: #eaefff;
  border: solid #c7ccee 1px;
  border-radius: 5px;
}
.inputC i {
  color: grey;
}
.inputC input {
  flex: 1;
  background-color: #eaefff;
  border: none;
  outline: none;
  margin-left: 10px;
}
.rememberMeC {
  display: flex;
  justify-content: left;
  gap: 5px;
  color: grey;
  margin: 0 10px;
  font-size: 13px;
}

.rememberMeC div {
  font-size: 1.3em;
}

.accept {
  color: #2d57ff;
}

.submit-btn {
  background-color: #2d57ff;
  padding: 1em;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

.login-link {
  color: #2d57ff;
  font-weight: bold;
  cursor: pointer;
}

form p:last-child {
  font-size: 1.2em;
}
