<div class="container">
  <div class="left">
    <form action="">
      <div class="heading">
        <h1>Login to your account</h1>
        <p>Welcome back! Select method to log in:</p>
      </div>
      <div class="other-auth">
        <button>
          <img src="../../../../assets/google.png" alt="google" /> Google
        </button>
        <button>
          <img src="../../../../assets/google.png" alt="google" /> Facebook
        </button>
      </div>
    </form>
  </div>
  <div class="right">
    <img src="../../../../assets/login.png" alt="login" />
    <div class="heading-right">Connect with any device.</div>
    <p>Everything you need is an internet connection.</p>
  </div>
</div>

<!-- <div class="body">
  <form class="main">
    <input type="checkbox" id="chk" aria-hidden="true" />

    <div class="signup">
      <form #registerForm="ngForm" (ngSubmit)="onRegisterSubmit(registerForm)">
        <label for="chk" aria-hidden="true">Sign up</label>

        <select
          #selectUserType
          name="selectUserType"
          id="selectUserType"
          ngModel=""
        >
          <option value="Businessman">Businessman</option>
          <option value="Client">Client</option>
        </select>

        <input
          #firstNameInput="ngModel"
          type="text"
          name="firstName"
          placeholder="First Name"
          ngModel=""
          required
        />

        <input
          #firstNameInput="ngModel"
          type="text"
          name="lastName"
          placeholder="Last Name"
          ngModel=""
          required
        />

        <input
          #emailInput="ngModel"
          type="text"
          name="email"
          placeholder="Email"
          ngModel="viktor1@abv.bg"
          email
          required
        />
        <div
          class="emailErrorsContainer errorsContainer"
          *ngIf="emailInput.invalid && (emailInput.touched || emailInput.dirty)"
        >
          <h6 *ngIf="emailInput.errors?.['required']" class="errorMessage">
            Email is required
          </h6>
          <h6 *ngIf="emailInput.errors?.['email']" class="errorMessage">
            Wrong email format
          </h6>
        </div>
        <input
          #passwordInput="ngModel"
          type="text"
          name="password"
          placeholder="Password"
          ngModel="ivan"
          minlength="8"
          required
        />
        <div
          class="passwordErrorsContainer errorsContainer"
          *ngIf="
            passwordInput.invalid &&
            (passwordInput.touched || passwordInput.dirty)
          "
        >
          <h6 *ngIf="passwordInput.errors?.['required']" class="errorMessage">
            Password is required
          </h6>
          <h6 *ngIf="passwordInput.errors?.['minlength']" class="errorMessage">
            Password must be at least 8 chars
          </h6>
        </div>
        <input
          #repeatedPasswordInput="ngModel"
          type="text"
          name="repeatedPassword"
          placeholder="Repeated password"
          ngModel="ivan"
          required
        />
        <div
          class="passwordErrorsContainer errorsContainer"
          *ngIf="
            repeatedPasswordInput.invalid &&
            (repeatedPasswordInput.touched || repeatedPasswordInput.dirty)
          "
        >
          <h6
            *ngIf="repeatedPasswordInput.errors?.['required']"
            class="errorMessage"
          >
            Password is required
          </h6>
          <h6
            *ngIf="repeatedPasswordInput.errors?.['minlength']"
            class="errorMessage"
          >
            Password must be at least 8 chars
          </h6>
        </div>

        <input
          #companyInput="ngModel"
          type="text"
          name="company"
          placeholder="Your company"
          *ngIf="selectUserType.value === 'Businessman'"
          ngModel=""
          required
        />

        <button type="submit">Sign up</button>
      </form>
    </div>

    <div class="login">
      <form #formLogin="ngForm" (ngSubmit)="onLoginSubmit(formLogin)">
        <label for="chk" aria-hidden="true">Login</label>
        <input
          #emailInputLoging="ngModel"
          type="text"
          name="email"
          placeholder="Email"
          ngModel="viktor1@abv.bg"
          email
          required
        />
        <div
          class="emailErrorsContainer errorsContainer"
          *ngIf="
            emailInputLoging.invalid &&
            (emailInputLoging.touched || emailInputLoging.dirty)
          "
        >
          <h6
            *ngIf="emailInputLoging.errors?.['required']"
            class="errorMessage"
          >
            Email is required
          </h6>
          <h6 *ngIf="emailInputLoging.errors?.['email']" class="errorMessage">
            Wrong email format
          </h6>
        </div>
        <input
          #passwordInputLogin="ngModel"
          type="text"
          name="password"
          placeholder="Password"
          ngModel="ivan"
          required
        />
        <div
          class="passwordErrorsContainer errorsContainer"
          *ngIf="
            passwordInputLogin.invalid &&
            (passwordInputLogin.touched || passwordInputLogin.dirty)
          "
        >
          <h6
            *ngIf="passwordInputLogin.errors?.['required']"
            class="errorMessage"
          >
            Password is required
          </h6>
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </form>
</div> -->
