.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  text-align: center;
}

.left {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50em;
}

.heading-left {
  font-weight: bold;
  font-size: 1.3em;
}

p {
  color: #e0eaff;
  opacity: 75%;
  margin: 0 auto;
}

.left p {
  color: #71717a;
}

.last-p {
  font-size: 1.2em;
}

.right {
  background-color: #343859;
  height: 90vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right img {
  width: 35em;
  margin-left: 1em;
  margin-bottom: 2em;
}

.heading-right {
  color: #e0eaff;
  font-weight: 700;
  font-size: 1.4em;
}

.right p {
  color: #e0eaff;
  opacity: 75%;
}

.welcomeBack {
  color: grey;
  text-align: left;
  margin-bottom: 20px;
}

.other-auth {
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 3em;
}
.other-authBtn {
  padding: 10px 25px;
  background-color: white;
  border-radius: 5px;
  border: solid grey 1px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 20px;
}
.other-authBtn img {
  width: 27px;
}
hr {
  margin: 30px 0;
  color: grey;
}

/* Style for the text */
.centered-text {
  background-color: white; /* Set the background color to match the page background */
  padding: 0 10px; /* Add some padding for spacing */
  position: relative;
  top: -42px;
  width: fit-content;
  margin: 0 auto;
  color: grey;
}
.inputsC {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputC {
  padding: 10px;
  margin: 0 10px;
  display: flex;
  background-color: #eaefff;
  border: solid #c7ccee 1px;
  border-radius: 5px;
}
.inputC i {
  color: grey;
}
.inputC input {
  flex: 1;
  background-color: #eaefff;
  border: none;
  outline: none;
  margin-left: 10px;
}
.rememberMeC {
  display: flex;
  justify-content: left;
  gap: 5px;
  color: grey;
  margin: 0 10px;
  font-size: 13px;
}

.loginBtn {
  width: 100%;
  padding: 15px 0;
  background-color: #2d57ff;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  margin-bottom: 1em;
}

.register-link {
  color: #2d57ff;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1315px) {
  .right img {
    width: 24em;
  }

  .left {
    width: 40em;
  }
}

@media (max-width: 980px) {
  .right {
    display: none;
  }

  .left {
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    text-align: start;
  }
}

@media (max-width: 440px) {
  .heading-left {
    font-size: 1em;
  }

  .other-authBtn {
    font-size: 15px;
  }

  .other-auth {
    gap: 5px;
  }
}
