.container{
  width: 100%;
  display: flex;
  justify-content: center;
}


.wrapper{
  display: flex;
  width: 80%;
  margin: 20px;
  background-color: white;
  border-radius: 40px;
  padding: 40px;
  justify-content: space-between;
}
.wrapper>*{
  flex: 1;
}
.offerDetails{
  display: flex;
  flex-direction: column;
}

.businessmanC{
  margin-top: 30px;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
}
.userName{
  margin-bottom: 0;
}
.userEmail{
  margin: 0;
}
.btn{
  background-color: #0094FF;
  font-size: 23px;
  padding: 20px 45px;
  border-radius: 140px;
  border: none;
  margin-top: 70px;
  color: white;
}

.editBtn{
  background-color: #47ff71;

}
.deleteBtn{
  background-color: #ff4458;
}

.picture{
  color: white;
  background: grey;
  border-radius: 140px;
  padding: 20px;


}


.offerName{
  margin: 0;
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
}
.details{
  flex: 1;
  padding: 15px;
  background-color: #D9D9D9;
}
.flexContainer{
  display: flex;

}

.flexContainer>*{
  padding: 15px 20px;
}
.price{
  flex-grow: 1;
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
  background-color: #827474;
}
.buyBtn{
  font-size: 25px;
  font-weight: bolder;
  flex-grow: 4;
  border: none;
  background-color: #9D9D9D;
}
