<div class="container">
  <div class="wrapper">
    <div class="businessmanC">
      <i class="fa-solid fa-user picture"></i>
      <h1 class="userName">Boiko Borisov</h1>
      <h6 class="userEmail">bokio.naftata@abv.bg</h6>
      <button class="profileBtn btn" >Профил</button>
      <button class="editBtn btn" >Редактиране</button>
      <button class="deleteBtn btn" >Изтриване</button>
    </div>
    <div class="offerDetails">
      <h2 class="offerName">Изливане на асфалт</h2>
      <div class="details">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate deleniti facilis obcaecati recusandae, rerum temporibus voluptas? Ad aspernatur autem doloribus eos fugit perspiciatis placeat, quam quasi quisquam quos repudiandae rerum, sed ut! Aliquam eveniet laboriosam magnam magni officiis perspiciatis quidem sequi velit voluptatibus? Accusamus ad aperiam blanditiis culpa cumque delectus dolorum eaque eius eligendi facere iste, laboriosam molestiae nisi omnis porro, quas quasi quod ratione sequi suscipit tenetur ullam ut vitae. Explicabo sapiente, veritatis. Accusamus animi recusandae rem. Dignissimos ea fugiat hic mollitia qui. A, ab esse fugit iste obcaecati reiciendis rem unde! Commodi cum magnam molestias perspiciatis praesentium quis?
      </div>
      <div class="flexContainer">
        <button class="buyBtn">Купи</button>
        <label class="price">4,99$</label>
      </div>

    </div>
  </div>
</div>

