.container {
  background: #f0f0f0;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 0 auto;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #e6e6e6;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.user-info {
  flex: 1;
  text-align: center;
}

.user-info h1 {
  font-size: 32px;
  color: #333;
}

.userEmail {
  font-size: 18px;
  color: #777;
}

.btn {
  background: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  letter-spacing: 1px;
}

.profileBtn {
  background: #6c5ce7;
  color: #fff;
}

profileBtn:hover {
  background: #4b3da9;
}

editBtn {
  background: #49c25a;
  color: #fff;
}

editBtn:hover {
  background: #37a046;
}

deleteBtn {
  background: #e74c3c;
  color: #fff;
}

deleteBtn:hover {
  background: #c0372c;
}

.offerDetails {
  flex: 2;
  padding: 20px; /* Increased space for offer details */
  background: #f0f0f0; /* Match container background */
  border-radius: 15px;
  margin: 10px;
}

offerName {
  font-size: 32px;
  text-align: center;
  background: #6c5ce7; /* Light purple background for offer name */
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

details {
  background: #fff;
  border-radius: 10px;
  padding: 20px; /* Increased space for offer details */
  font-size: 20px;
  color: #333;
  margin: 10px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #4a90e2;
  margin: 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .btn {
    font-size: 14px;
  }
}
