.hero {
  background-image: url("../../../../assets/hero.jpeg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 56em;
  opacity: 68.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero .heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  gap: 0.8em;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  padding: 1em;
}

.hero .heading h1 {
  font-size: 4em;
}

.hero .heading p {
  font-size: 1.6em;
}

.reviews {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
}
.reviewC {
  background-color: white;
  border-radius: 20px;
  display: flex;
  gap: 40px;
  padding: 20px;
  width: 300px;
}
.name {
  text-align: center;
}
.reviewerImage {
  border-radius: 100px;
  width: 100px;
  height: 100px;
}
.starsC {
  border-radius: 20px;
  justify-content: space-around;
  padding: 10px;
  background-color: #ffaeae;
  display: flex;
  gap: 5px;
}
.fa-star {
  color: yellow;
}
.comment {
  font-weight: initial;
  font-size: 14px;
  padding: 5px;
  margin-top: 0.8em;
}

.reviews-heading {
  text-align: center;
  color: white;
  margin-top: 1em;
  font-size: 2.7em;
}
.animate {
  opacity: 0;
  transition: opacity 3s ease;
}

.animate.animated {
  opacity: 1;
}

@media (max-width: 1280px) {
  .hero .heading h1 {
    font-size: 3.4em;
  }
}

@media (max-width: 800px) {
  .hero {
    background-position: center;
  }
}
