main {
  display: flex;
  color: white;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  width: 30%;
  height: 100vh;
  background-color: #6c757d;
}

.chat {
  background-color: #343a40;
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100vh;
}

.chat .messagesContainer {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
  margin-left: 2em;
  padding: 1em;
}
button {
  all: unset;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.message {
  background-color: #6c757d;
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
  align-self: flex-start;
  margin-bottom: 10px;
}

.message-content {
  color: white;
}

.chat-input {
  border-top: 1px solid #6c757d;
  display: flex;
  align-items: center;
  padding: 1em;
}

.messaging {
  flex: 1;
  padding: 10px;
  margin-left: 1em;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
}

.noSelectedRoomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100vh;
  background-color: #343a40;
  color: #a1a8b0;
}

.select-message {
  padding: 0.5em;
  font-size: 1em;
  background-color: #a1a8b0;
  color: #343a40;
  border-radius: 5em;
  font-weight: bold;
}

.fa {
  font-size: 1.6em;
  margin-left: 1em;
  cursor: pointer;
}

.fa-paper-plane {
  margin-left: 1em;
  padding: 0.5em;
  border-radius: 1em;
  background-color: #6c757d;
}

.fa-paperclip {
  margin-left: 0.5em;
}
