<main>
  <div class="navigation">
    <app-top></app-top>
    <app-users></app-users>
  </div>

  <div *ngIf="!CacheService.currentRoomId" class="noSelectedRoomContainer">
    <div class="select-message">Select a chat to start messaging</div>
  </div>
  <div appHtmlElement class="chatSection chat">
    <div appHtmlElement #messagesContainer class="messagesContainer">
      <div class="messages">
        <div
          *ngFor="let message of CacheService.messages"
          class=""
          [ngClass]="
            message.userId === this.UserService.getUserId() ? 'mine' : 'other'
          "
          class="message"
        >
          {{ message.text }}
        </div>
      </div>
    </div>

    <form #form="ngForm" class="chat-input" (ngSubmit)="onMessageSubmit(form)">
      <label class="file-label">
        <input type="file" style="display: none; cursor: pointer" />
        <i class="fas fa-paperclip fa"></i>
      </label>
      <input
        id="chat-input"
        type="text"
        class="messaging"
        name="message"
        [(ngModel)]="inputValue"
        required
        placeholder="Write a message..."
      />

      <i #smileBtn id="smile" class="far fa-smile fa">
        <div class="emojies">
          <span
            (click)="onEmojiAdd(emoji, form)"
            *ngFor="let emoji of emojies"
            [innerHTML]="emoji"
          ></span>
        </div>
      </i>
      <i class="fas fa-microphone fa"></i>
      <button type="submit"><i class="fas fa-paper-plane fa"></i></button>
    </form>
  </div>
</main>

<app-aside-join-room-menu></app-aside-join-room-menu>
