<div class="join-room-menu">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <i class="fa-regular fa-circle-xmark fa-2x close-icon"></i>
    <input
      #roomIdInput="ngModel"
      type="text"
      name="roomId"
      placeholder="Room ID"
      ngModel
      required
    />
    <div
      *ngIf="roomIdInput.invalid && roomIdInput.touched"
      class="error-container"
    >
      <h6 *ngIf="roomIdInput.errors?.['required']">Room ID is required</h6>
    </div>
    <button type="submit">Join</button>
  </form>
</div>
