.join-room-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(222, 222, 222, 0.5);
}

.join-room-menu form {
  background-color: rgb(33, 33, 33);
  color: white;
  padding: 3em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-icon {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  color: red;
}

input {
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  border: none;
  border-radius: 1em;
}

.error-container {
  color: red;
  margin: 1em 0;
}

button {
  padding: 1em 2em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
