.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.businessman {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 1em;
  opacity: 0.5;
  padding: 1em;
}
