<div class="catalog-container" *ngIf="CatalogService.businessmenSorted">
  <div
    (click)="showProfile(businessman._id)"
    *ngFor="let businessman of CatalogService.businessmenSorted"
    class="businessman"
    [attr.userId]="businessman._id"
  >
    <img [src]="picPaths[randomNum()]" alt="" />

    <span class="serviceName">{{ businessman.companyName }}</span>
  </div>
</div>

<div
  class="message"
  *ngIf="
    CatalogService.businessmenSorted &&
    CatalogService.businessmenSorted.length === 0
  "
>
  There are no businessmen at the moment
</div>
