.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 120em;
  gap: 2.5em;
  margin-bottom: 10em;
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
}

.businessman {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 1em;
  opacity: 0.6;
  padding: 1em;
}
