footer {
  display: flex;
  justify-content: space-around;
  padding: 1.5em;
  color: white;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

.info {
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

p {
  font-size: 1.2em;
}
