<form #form='ngForm' (ngSubmit)="submit(form)">
  <label for="nameInput">Име на оферта</label>
  <input id="nameInput" required ngModel type="text" name="name" #nameInput='ngModel' placeholder="Име на оферта...">

  <label for="nameInput" >Описание</label>
  <textarea id="descriptionInput" required ngModel name="description"  #descriptionInput='ngModel' placeholder="Описание..."></textarea>

    <label for="priceInput">Цена</label>

    <input id="priceInput" required ngModel name="price" type="number" #priceInput='ngModel' placeholder="Цена на оферта...">

  <button type="submit">Създай</button>
</form>
