<form #form='ngForm' >
  <select #typeInput='ngModel' [(ngModel)]="CreateService.offer.type" name="type" id="type">
    <option value="" selected disabled>Choose offer type</option>
    <option value="Job Postings">Job Postings</option>
    <option value="Product Discounts">Product Discounts</option>
    <option value="Business Services">Business Services</option>
    <option value="Real Estate Listings">Real Estate Listings</option>
    <option value="Franchise Opportunities">Franchise Opportunities</option>
    <option value="Investment Opportunities">Investment Opportunities</option>
    <option value="Equipment Sales">Equipment Sales</option>
    <option value="Partnership Opportunities">Partnership Opportunities</option>
    <option value="Commercial Leases">Commercial Leases</option>
  </select>
  <label for="nameInput">Име на оферта</label>
  <input id="nameInput" required [(ngModel)]="CreateService.offer.name" type="text" name="name" #nameInput='ngModel' placeholder="Име на оферта...">

  <label for="nameInput" >Описание</label>
  <textarea id="descriptionInput" required [(ngModel)]="CreateService.offer.description" name="description"  #descriptionInput='ngModel' placeholder="Описание..."></textarea>

    <label for="priceInput">Цена</label>

    <input id="priceInput" required [(ngModel)]="CreateService.offer.price" name="price" type="number" #priceInput='ngModel' placeholder="Цена на оферта...">

  <button (click)="submit(form)" *ngIf="!editMode"type="submit">Създай</button>


  <button (click)="editOffer(CreateService.offer)" *ngIf="editMode" type="submit">Редактирай</button>
</form>
