<main>
  <div class="navigation">
    <app-top></app-top>
    <app-users></app-users>
  </div>
  <div *ngIf="!CacheService.currentRoomId" class="noSelectedRoomContainer">
    <div class="message">Select room</div>
  </div>
  <div *ngIf="CacheService.currentRoomId" class="chat">
    <div class="messages">
      <div #messagesContainer class="messagesContainer">
        <div *ngFor="let message of CacheService.messages" class="message">
          {{ message.text }}
        </div>
      </div>
    </div>

    <form #form="ngForm" class="chat-input" (ngSubmit)="onMessageSubmit(form)">
      <label class="file-label">
        <input type="file" style="display: none; cursor: pointer" />
        <i class="fas fa-paperclip fa"></i>
      </label>
      <input
        type="text"
        class="messaging"
        name="message"
        ngModel
        required
        placeholder="Write a message..."
      />
      <button type="submit">SEND</button>
      <i class="far fa-smile fa"></i>
      <i class="fas fa-microphone fa"></i>
      <i class="fas fa-paper-plane fa"></i>
    </form>
  </div>
</main>
