main {
  display: flex;
  color: white;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  width: 30%;
  height: 100vh;
  background-color: #6c757d;
}

.chat {
  background-color: #343a40;
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100vh;

}
.chat .messages{
  flex: 1 ;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px  ;
  overflow-y: scroll;
 justify-content: end;
}
.chat .messages .messagesContainer{
overflow-y: visible;
}
