<main>
  <div class="navigation">
    <app-top></app-top>
    <app-users></app-users>
  </div>
  <div *ngIf="!CacheService.currentRoomId" class="noSelectedRoomContainer">
    <div class="message">Select room</div>
  </div>
  <div *ngIf="CacheService.currentRoomId" class="chat">
     <div class="messages">
       <div #messagesContainer class="messagesContainer">
         <div *ngFor="let message of CacheService.messages" class="message">{{message.text}}</div>
       </div>
    </div>

    <form #form="ngForm" class="chat-input" (ngSubmit)="onMessageSubmit(form)">
      <input type="text" name="message" ngModel  required />
      <button type="submit">SEND</button>
    </form>
  </div>
</main>

