main {
  display: flex;
  color: white;
  overflow-y: hidden;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  width: 30%;
  background-color: #6c757d;
}

.chat {
  background-color: #343a40;
  width: 85%;
}
