<div class="reviewC">
  <div class="imageAndNameC">
    <img src="./assets/reviewer.jpg" alt="">
    <h3 class="name">Sevdalina</h3>
  </div>
  <div class="starsAndCommentC">
    <div class="starsC">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
    </div>
    <h3 class="comment">Very good services from this platform. Leaving 5 stars :)</h3>
  </div>

</div>
