<div class="users-container">
  <div #roomElement *ngFor="let room of CacheService.rooms" [attr.roomid] = "room._id" appRoomJoin class="user">
    <img
      src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?cs=srgb&dl=pexels-simon-robben-614810.jpg&fm=jpg"
      alt="user image"
    />
    <div class="name-date">
      <div class="name">
        {{room.name}}
        <div class="date-seen">
          <span class="seen"
            ><i class="fa-solid fa-check"></i><i class="fa-solid fa-check"></i
          ></span>
          <span class="date">09.09.2023г.</span>
        </div>
      </div>
      <p class="message">Pitaj choveka kak da rabotim pravilno v ekip</p>
    </div>
  </div>
</div>
