.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  width: 40em;
  /*margin-left: 32.5em;*/
  margin: 0 auto;
  margin-bottom: 9em;
  padding: 5em;
  background-color: antiquewhite;
  border-radius: 2em;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.user .name {
  font-size: 2em;
  font-weight: bold;
}

.offers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  flex-wrap: wrap;
  max-width: 40em;
}
.offer {
  display: flex;
  max-width: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 1em;
  opacity: 0.6;
  /*padding: 1em;*/
  cursor: pointer ;
  text-align: center;
  transition: 0.3s;
}
.offer:hover{
  transform: scale(1.05);
}

img{
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.companyName{
  padding: 5px 0;
  width: 100%;
  background-color: #9a9a9a;
}
.serviceName{
  padding: 10px 0;
}
